@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .spin {
        animation: spin 1s linear infinite;
    }

    .parent:hover > .children {
        display: block;
    }

    .appear {
        animation: hoverParent 0.5s linear;
    }

    .children:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 20px;
        top: -5%;
        color: black;
    }

    @keyframes hoverParent {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer components {
    .bubble {
        position: absolute;
        min-width: 150px;
        right: -15px;
        top: 40px;
        display: inline-block;
        border: 1px solid;
        border-radius: 30px;
        background: #fff;
    }

    .bubble::after {
        content: '';
        position: absolute;
        top: -20%;
        z-index: -10;
        right: 15%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #4b86d2;
    }
}

@layer utilities {
    .roboto-thin {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-style: italic;
    }
}
